<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.love.user.mapper.LabelMapper">

    <resultMap id="BaseResultMap" type="com.campus.love.user.entity.Label">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="character" column="character" jdbcType="VARCHAR"/>
            <result property="hobby" column="hobby" jdbcType="VARCHAR"/>
            <result property="minority" column="minority" jdbcType="VARCHAR"/>
            <result property="userDefined" column="user_defined" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,character,hobby,
        minority,user_defined,user_id,
        create_time,update_time
    </sql>
</mapper>
