<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.love.user.mapper.CriteriaMapper">

    <resultMap id="BaseResultMap" type="com.campus.love.user.entity.Criteria">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ageRange" column="age_range" jdbcType="VARCHAR"/>
            <result property="statureRange" column="stature_range" jdbcType="VARCHAR"/>
            <result property="cityRange" column="city_range" jdbcType="VARCHAR"/>
            <result property="hometownRange" column="hometown_range" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,age_range,stature_range,
        city_range,hometown_range,gender,
        create_time,update_time
    </sql>
</mapper>
