<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.love.user.mapper.SubscribedMapper">

    <resultMap id="BaseResultMap" type="com.campus.love.user.entity.Subscribed">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="isSubscribed" column="is_subscribed" jdbcType="INTEGER"/>
            <result property="firstUserid" column="first_user_id" jdbcType="INTEGER"/>
            <result property="secondUserid" column="second_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,is_subscribed,first_userid,
        second_userid
    </sql>
</mapper>
