<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.love.tweet.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.campus.love.tweet.entity.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pTweetId" column="p_tweet_id" jdbcType="INTEGER"/>
            <result property="pCommentId" column="p_comment_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="likesNum" column="likes_num" jdbcType="INTEGER"/>
            <result property="commentNum" column="comment_num" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,p_tweet_id,p_comment_id,
        content,likes_num,comment_num,user_id,
        create_time,update_time
    </sql>
</mapper>
