<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.love.tweet.mapper.LikesMapper">

    <resultMap id="BaseResultMap" type="com.campus.love.tweet.entity.Likes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="likedId" column="liked_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="isTweet" column="is_tweet" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,liked_id,user_id,
        is_tweet,create_time,update_time
    </sql>
</mapper>
